.row
  .col-md-1
  .col-md-10
    img.img-circle.small-pic.pull-right(src="images/mdsmartHS_hires.jpg")
    p Relax ... your new web developer is here!
    p I have been a hobbyist programmer for over 30 years but am now beginning to incorporate it into my vocation. My journey began as a high school coder using BASIC and assembly language, evolved to studying computer science at Georgia Tech, and now finds me as a student web developer at the Nashville Software School.
    p Let's talk and see if we want to work together. I have a skill set that is constantly evolving, a personality that is easy going, and the inner drive to get the job done right.
  .col-md-1