p You can contact me through one of these channels:
p matt (dot) smart (at) nashvillesoftwareschool.com

div(ng-repeat='contact in contactMethods')
  a(href="{{contact.contactURL}}", target='_blank')
    img.img-responsive.xs-pic(ng-src='images/{{contact.logo}}', alt='{{contact.title}}', title='{{contact.title}}')

//- Google Voice 'Call Me' widget
object(type="application/x-shockwave-flash", data="https://clients4.google.com/voice/embed/webCallButton", width="230", height="85")
  param(name="movie", value="https://clients4.google.com/voice/embed/webCallButton")
  param(name="wmode", value="transparent")
  param(name="FlashVars", value="id=bf414d49092bb9de15787353a7a23eff202b09fa&style=0")