.row
  .col-md-1
  .col-md-5
    h1.text-center Matthew Smart
    h2.text-center Web Developer
    h4.text-center Building useful, interactive applications for the web using the latest tools and clean, maintainable code.
  .col-md-5
    br
    blockquote.blockquote-reverse
      p.text-10pt People think that computer science is the art of geniuses but the actual reality is the opposite, just many people doing things that build on each other, like a wall of mini stones.
      footer Donald Knuth
  .col-md-1
