nav.navbar.navbar-default(ng-controller='navController')
  .container
    .navbar-header
      a.navbar-brand(href='/') Matthew Smart
    ul.nav.navbar-nav
      li(ng-repeat='item in navItems'): a(href='{{item.route}}') {{item.name}}
