.row
  .col-md-3
    div(ng-repeat='tech in myStack', ng-if='showDescription === $index')
      h1 {{tech.name}}
      h3 {{tech.description}}
  .col-md-9
    div.mybackground
      img.img-responsive.small-pic(ng-repeat='tech in myStack', ng-src='images/{{tech.imgSource}}', alt='{{tech.name}}', ng-mouseover='showDiv($index)', ng-mouseleave='hideDiv()')