body {
  color: royalblue;
  padding: 25px;
  /*background-image: url('../images/wallpaper-of-nashville-usa.jpg');*/
  background-size: 100%;
  opacity: .8;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

a {
  color: white;
}

.small-pic {
  display: inline-block;
  max-height: 140px;
  max-width: 280px;
  padding: 5px;
}

.xs-pic {
  display: inline-block;
  max-height: 70px;
  max-width: 140px;
  padding: 5px;
}

.text-10pt {
  font-size: 10pt;
}

.small-pic {
  display: inline-block;
  max-height: 140px;
  max-width: 280px;
  padding: 5px;
}
.mybackground {
  /*background-color: #D0D7F2;*/
  background-color: #8397E6;
}

blockquote footer {
  color: black;
}

.pdf {
  height: 700px;
}